<!DOCTYPE html> {% load static %}
<html style="font-size: 16px;">

<head>
    <title>Tutorial</title>
    <link rel="stylesheet" href="{% static 'Tuto.css'%}" media="screen">
    <link rel="icon" href="{% static 'tuto_icon.jpg' %}" type="image/x-icon">

</head>

<body>
    <h1>This's Tutorial Web Page</h1>
    <video payload controls width="500">

    
        <source src="{%static 'wind.mp4'%}" type="video/mp4">
    
        Sorry, your browser doesn't support embedded videos.
    </video>
    <video payload controls width="500">

    
        <source src="{%static 'ESP8266.mp4' %}" type="video/mp4">
    
        Sorry, your browser doesn't support embedded videos.
    </video>
    <video payload controls width="500">

    
        <source src="{%static 'video.mp4'%}" type="video/mp4">
    
        Sorry, your browser doesn't support embedded videos.
    </video>
    <video payload controls width="500">

    
        <source src="{%static 'animation-devices.mp4'%}" type="video/mp4">
    
        Sorry, your browser doesn't support embedded videos.
    </video>

</body>


</html>